<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ex.rhythm.mapper.RankMapper">

    <!-- 점수 저장 -->
    <insert id="insertRank">
        INSERT INTO RANKS(music_id, score, max_combo)
        VALUES (#{musicId}, #{score}, #{maxCombo})
    </insert>

    <!-- 점수 조회 -->
    <select id="selectRank" resultType="com.ex.rhythm.dto.RankDTO">
        SELECT *
        FROM RANKS
        ORDER BY score DESC
        LIMIT 10
    </select>

</mapper>